@import 'global.css';

.card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 300px auto;
    background: var(--white);
    border-radius: 20px;
    padding: 15px;
}

.card .card-img{
    background-image: url(/images/image-qr-code.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.card .card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.card .card-content h1{
    color: var(--dark-blue);
    font-size: 1.5rem;
}
.card .card-content p{
    color: var(--blue);
    margin-top: 1rem;
}